<div class="header-area header-sticky">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav class="main-nav">
                    <!-- ***** Logo Start ***** -->
                    <a href="https://mailapicture.com" class="logo"><img src="/assets/img/logo_wide.png" style="height: 50px;"><span class="sr-only">Mail A Picture</span></a>
                    <!-- ***** Logo End ***** -->
                    <!-- ***** Menu Start ***** -->
                    <ul class="nav">
                        <li class="scroll-to-section"><a href="https://blog.mailapicture.com">Blog</a></li>
                        <li class="scroll-to-section"><a href="https://mailapicture.com/#about">About</a></li>
                        <li><a href="https://mailapicture.com/create" class="text-warning">Get Started</a></li>
                    </ul>
                    <a class='menu-trigger'>
                        <span>Menu</span>
                    </a>
                    <!-- ***** Menu End ***** -->
                </nav>
            </div>
        </div>
    </div>
</div>

{% include search.html %}
